.card-container {
    height: 80%;
    width: 350px;
    background-color: white;
    margin: 20px;
    transform: scale(0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: lightgrey;
    border: 2px solid;
    border-radius: 10px;
}

.card-container:hover {
    transform: scale(1);
}

.project-name {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-family: cursive;
}

.project-link,
.code-link {
    margin-top: 5px;
    height: auto;
    font-weight: 700;
    font-family: cursive;
    text-decoration: none;
    color: black;
    display: flex;

}

.project-link:hover,
.code-link:hover {
    color: blue;
}

.project-image-container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 70%;
    width: 100%;
}

.project-image {
    height: 100%;
    width: 100%;
}

.project-image-description {
    text-align: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    padding: 5px;
}

.project-image:hover {
    animation: 0.8s normal 0s 1 slideOutFromRight;
}

.project-icon {
    margin-right: 5px;
}


@keyframes slideOutFromRight {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}