.contact-container {
    align-items: center;
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.contact-card-container {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 8px#888888;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    width: 70vw;
}

.contact-card-heading {
    color: blue;
    font-family: "poppins", sans-serif;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}

.contact-card-info {
    align-items: center;
    cursor: default;
    display: flex;
    font-family: "poppins", sans-serif;
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
    transform: scale(0.9);
    width: inherit;
    justify-content: center;

}

.contact-card-info:hover {
    transform: scale(1);
}

#github-link,
#leetcode-link,
#linkedin-link {
    align-items: center;
    color: inherit;
    display: flex;
    font-family: "poppins", sans-serif;
    text-decoration: none;
}