.work {
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.works-container {
    display: flex;
    justify-content: center;
    height: 450px;
    width: inherit;
    flex-wrap: wrap;
    &::-webkit-scrollbar {
        display: none;
    }
}