.intro-container {
    background-color: lightsalmon;
    display: flex;
    justify-content: space-around;
    // flex-wrap: wrap;
    align-items: center;
}

.profile-pic-container {
    display: flex;
    width: 40%;
    justify-content: center;
}

#profile-pic {
    border-radius: 20%;
    max-width: 350px;
    max-height: 350px;
    animation: 0.8s normal 0s 1 borderRadius;
    border: 2px dotted black;
}

.intro-heading-container {
    display: flex;
    width: 60%;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#intro-heading {
    font-weight: 900;
    color: white;
    font-size: 5vw;
    animation: 0.8s normal 0s 1 slideInFromLeft;
    transform: scale(0.9);
    width: max-content;
}

#intro-heading:hover {
    transform: scale(1);
    color: grey
}

.about-text {
    font-family: cursive;
    color: black;
    font-size: 2em;
    opacity: 0.8;
}

.about-text:hover {
    opacity: 1;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-50%) scale(0.5);
    }

    100% {
        transform: translateX(0) scale(1);
    }
}

@keyframes borderRadius {
    0% {
        border-radius: 50%;
    }
}