.testimonials-container {
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimonial-image-container {
    display: flex;
    flex-direction: column;
    font-weight: 900;
    font-family: sans-serif;
    align-items: center;
    margin-bottom: 20px;
}

.testimonial-text-container {
    font-weight: 500;
    font-family: cursive;
}

.testimonials-header {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.testimonial-pic {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 2px solid black;
}

.testimonials-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 60%;
    justify-content: space-around;
    color: black;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: 400px;
}

.linkedin-link {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    align-items: center;
    display: flex;
}

.linkedin-link:hover {
    color: brown;
    font-weight: 900;
}